<%= form_for(@memory, :html => { :multipart => true}) do |f| %>
  <% if @memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% @memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div cass="form-group">
  <div class="actions" >
    <%= f.submit %>
  </div>
<% end %>
