<div id="memories" class="transitions-enabled">
  <% @memories.each do |memory| %>
    <div class="box panel panel-default">
      <%= image_tag memory.image.url (:medium) %>
        <div class="panel-body">
        <%= memory.description %>
        <%= memory.user.email if memory.user %>
        <%= link_to 'Show', memory %>
        <% if memory.user == current_user %>
          <%= link_to 'Edit', edit_memory_path(memory) %>
          <%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %> 
      </div>
    </div>
  <% end %>
</div>