<h1>Listing memories</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Description</th>
      <th>User </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memories.each do |memory| %>
      <tr>
        <td><%= image_tag memory.image.url (:medium) %></td>
        <td><%= memory.description %></td>
        <td><%= memory.user.email if memory.user %></td>
        <td><%= link_to 'Show', memory %></td>
          <% if memory.user == current_user %>
        <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
        <td><%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Memory', new_memory_path %>
<% end %>
